<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form th:action="@{/add}" method="post" th:object="${}">

        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label>Title: </label>
            <input class="form-control" type="text" th:field="*{title}">
            <p style="color: #9dfa9e" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
        </div>

        <div class="form-group">
            <label>Cover: </label>
            <input class="form-control" type="text" th:field="*{cover}">
            <p style="color: #9dfa9e" th:if="${#fields.hasErrors('cover')}" th:errors="*{cover}"></p>
        </div>

        <div class="form-group">
            <label>Content: </label>
            <textarea  class="form-control" th:field="*{content}"></textarea>
            <p style="color: #9dfa9e" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
        </div>

        <button class="btn btn-info" type="submit">Add</button>
    </form>
</div>
</body>
</html>